<body>
  <main>
    <div class="overview">
      <div class="intro">
        <h2>ゲレンデをお探しします！</h2>
      </div>
      <div class="login-form">
        <h2>Login</h2>
        <div class="form-wrapper">
          <p>ID</p>
          <input>
          <p>Password</p>
          <input>
          <div class="btn-wrapper">
            <input type="submit" value="Login" class="btn">
          </div>
          <div class="Sign-up">
            <a href="/SignUp" class="btn">Sign up</a>
          </div>
        </div>
      </div>
    </main>
    <div class="secondMain">
      <div class="searchPart">
        <h2>Search</h2>
        <div class="container">
          <ul class="tab-list">
            <li class="tab-item active">現在地から探す</li>
            <li class="tab-item">都道府県から探す</li>
            <li class="tab-item">積雪量から探す</li>
          </ul>
          <div class="tab-container">
            <div class="tab-content active">
              <div id='map'></div>
            </div>
            <div class="tab-content">
              <div class="searchPrefecture">
                <ul>
                  <div class="HokkaidoTohoku">
                    <h5>北海道・東北</h5>
                    <li><a href="/hokkaido" class="borderLeft">北海道</a></li>
                    <li><a href="/aomori" class="borderLeft">青森</a></li>
                    <li><a href="/iwate" class="borderLeft">岩手</a></li>
                    <li><a href="/akita" class="borderLeft">秋田</a></li>
                    <li><a href="/miyagi" class="borderLeft">宮城</a></li>
                    <li><a href="/yamagata" class="borderLeft">山形</a></li>
                    <li><a href="/hukusima">福島</a></li>
                  </div>
                  <div class="Kanto">
                    <h5>関東</h5>
                    <li><a href="/totigi" class="borderLeft">栃木</a></li>
                    <li><a href="/ibaragi" class="borderLeft">茨城</a></li>
                    <li><a href="/gunma" class="borderLeft">群馬</a></li>
                    <li><a href="/saitama" class="borderLeft">埼玉</a></li>
                    <li><a href="/tiba" class="borderLeft">千葉</a></li>
                    <li><a href="/tokyo" class="borderLeft">東京</a></li>
                    <li><a href="/kanagawa">神奈川</a></li>
                  </div>
                  <div class="Chubu">
                    <h5>中部</h5>
                    <li><a href="/nigata" class="borderLeft">新潟</a></li>
                    <li><a href="/toyama" class="borderLeft">富山</a></li>
                    <li><a href="/ishikawa" class="borderLeft">石川</a></li>
                    <li><a href="/hukui" class="borderLeft">福井</a></li>
                    <li><a href="/yamanashi" class="borderLeft">山梨</a></li>
                    <li><a href="/nagano" class="borderLeft">長野</a></li>
                    <li><a href="/gihu" class="borderLeft">岐阜</a></li>
                    <li><a href="/shizuoka" class="borderLeft">静岡</a></li>
                    <li><a href="/aiti">愛知</a></li>
                  </div>
                  <div class="Kinki">
                    <h5>近畿</h5>
                    <li><a href="/mie" class="borderLeft">三重</a></li>
                    <li><a href="shiga" class="borderLeft">滋賀</a></li>
                    <li><a href="/kyoto" class="borderLeft">京都</a></li>
                    <li><a href="/osaka" class="borderLeft">大阪</a></li>
                    <li><a href="/hyogo" class="borderLeft">兵庫</a></li>
                    <li><a href="/nara" class="borderLeft">奈良</a></li>
                    <li><a href="/wakayama">和歌山</a></li>
                  </div>
                  <div class="Chugoku">
                    <h5>中国</h5>
                    <li><a href="/tottori" class="borderLeft">鳥取</a></li>
                    <li><a href="/shimane" class="borderLeft">島根</a></li>
                    <li><a href="/okayama" class="borderLeft">岡山</a></li>
                    <li><a href="/hirosima" class="borderLeft">広島</a></li>
                    <li><a href="/yamaguti">山口</a></li>
                  </div>
                  <div class="Sikoku">
                    <h5>四国</h5>
                    <li><a href="/tokushima" class="borderLeft">徳島</a></li>
                    <li><a href="/kagawa" class="borderLeft">香川</a></li>
                    <li><a href="/ehime" class="borderLeft">愛媛</a></li>
                    <li><a href="/kochi">高知</a></li>
                  </div>
                  <div class="Kyushu">
                    <h5>九州</h5>
                    <li><a href="/hukuoka" class="borderLeft">福岡</a></li>
                    <li><a href="/saga" class="borderLeft">佐賀</a></li>
                    <li><a href="/nagasaki" class="borderLeft">長崎</a></li>
                    <li><a href="/kumamoto" class="borderLeft">熊本</a></li>
                    <li><a href="/ohita" class="borderLeft">大分</a></li>
                    <li><a href="/miyazaki" class="borderLeft">宮崎</a></li>
                    <li><a href="/kagoshima" class="borderLeft">鹿児島</a></li>
                    <li><a href="/okinawa">沖縄</a></li>
                  </div>
                </ul>
              </div>
            </div>
            <div class="tab-content">Contactの内容</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class=photo>
  <div class="photoContents">
    <div class="photoImage"></div>
    <div class="photoExplain">
      <p>aaa</p>
    </div>
  </div>
  <div class="photoContents">
    <div class="photoImage"></div>
    <div class="photoExplain">
      <p>aaa</p>
    </div>
  </div>
  <div class="photoContents">
    <div class="photoImage"></div>
    <div class="photoExplain">
      <p>aaa</p>
    </div>
  </div>
  <div class="photoContents">
    <div class="photoImage"></div>
    <div class="photoExplain">
      <p>aaa</p>
    </div>
  </div>
  <div class="photoContents">
    <div class="photoImage"></div>
    <div class="photoExplain">
      <p>aaa</p>
    </div>
  </div>
  <div class="photoContents">
    <div class="photoImage"></div>
    <div class="photoExplain">
      <p>aaa</p>
    </div>
  </div>
</div>
<%= javascript_include_tag "googleMapsApi.js" %>
</body>
