<!--データベースの数に応じて列が表示されるように-->
<div id="area">
 <h1>北海道</h1>
  <div class="gerendePage">
    <h1>北海道</h1>
    <div class="gerendeFlex">
      <div class="articleWrapper">
        <div class="wrapperTop">
        </div>
        <div class="wrapperBottom">
        </div>
      </div>
      <div class="articleWrapper">
        <div class="wrapperTop">
        </div>
        <div class="wrapperBottom">
        </div>
      </div>
      <div class="articleWrapper">
        <div class="wrapperTop">
        </div>
        <div class="wrapperBottom">
        </div>
      </div>
      <div class="articleWrapper">
        <div class="wrapperTop">
        </div>
        <div class="wrapperBottom">
        </div>
      </div>
      <div class="articleWrapper">
        <div class="wrapperTop">
        </div>
        <div class="wrapperBottom">
        </div>
      </div>
      <div class="articleWrapper">
        <div class="wrapperTop">
        </div>
        <div class="wrapperBottom">
        </div>
      </div>
    </div>
  </div>
</div>
